<!DOCTYPE html>
<html>
<head>
<title>Bootstpap</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstpap-->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
   <!--mystyle 1 css-->
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#" class="navbar-brand ml-5">
            <img src="../uploads/logo.png"  alt="logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav my-4 mx-5">
                <a href="../index.html" class="nav-item nav-link px-5">HOME</a>
                <a href="about.html" class="nav-item nav-link px-5">ABOUT</a>
                <a href="brands.html" class="nav-item nav-link px-5">BRANDS</a>
				 <a href="label.html" class="nav-item nav-link px-5">LABEL</a>
                <a href="archive.html" class="nav-item nav-link px-5">ARCHIVE</a>
                <a href="contact.html" class="nav-item nav-link px-5">CONTACT</a>
                
            </div>
           
        </div>
    </nav>

</header>
<div class="header1">
<div class="container-fluid" style="text-align:center; padding-top:250px;  padding-bottom:140px; background-color:#000000; color:white;">
<div class="row">
<div class="container">
<div class="gheader2">
<p>2020 DOREVSKI GJOKO. ALL RIGHT RESERVED</p>
</div>
</div>
<div class="col-sm-12" style="font-size:x-large; font-family:Playfair Display;">
<h1>ABOUT</h1>
<div class="container">
<div class="row">
<p class="par" style="padding:130px;font-size:20px;color:grey;">“DOREVSKI GJOKO Distillery” originates from a small enterprise that was founded in 1987 in Ohrid – Macedonia, with the initial name “G DOREVSKI”. During 1990 the small company is turning into “D. & G. CO” and in the beginning of 1999 into a D.GG. which, later in 2004 changed its name in “DOREVSKI S.A.”.</p>
</div>
</div>
<div class="container">
<div class="row">
<img src="../uploads/slika1.jpg" class="mx-auto d-block">
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container p-3">
<div class="row p-3">
<div class="col-sm-6 p-5">
<p><b>In 2011, “DOREVSKI S.A.” by joint venture agreement with “ADVISORY export – import”, Macedonian company with 23 years of experience in alcohol drinks trading, becomes “DOREVSKI GJOKO Distillery”. Our company was established by the strength of years of valuable experience in producing and selling of spirits.

The main activity of our Macedonian company is producing and selling of all kind of alcoholic drinks and spirits, implementing high sophisticated European and world standards in all phases of production process (distillations, blending and bottling). The largest percentage of the production is being exported to Europe (France, Germany, Czech Republic, Bulgaria, Greece, Macedonia and ex-Soviet Union Republics) but also to Asia (Armenia, Georgia, Kazakhstan) and to Middle East (Cyprus, Israel).</b></p>
</div>
<div class="col-sm-6 p-2">
<img src="../uploads/slika2.png">
</div>
</div>
</div>

<div class="container-fluid p-5 bg-secondary text-white">
<div class="row p-5">
<p>In the domestic market we have a well-organized distribution network.

The main products of the company are SAMOILOVA MASTIKA, DOMASNA SAMOILOVA RAKIJA,  OUZO PHILIPPOS and TEQUILA MENDOZA. It is critically acclaimed and has won many international prizes. The company also produces different liqueurs in various flavors (almost 40 different names and species), Rakia, Mastika, Yani Raki, Vodka, Gin, Tequila, cocktail syrups and other. Other popular brands of our spirits are: Absinthe Butterfly, Trinkermaister, Pelin, Vodka Romanoff, Gin Lardson, Alexander the Great brandy, Samoilova Mastika etc.  As well we offer Premium and Luxury Edition.

In addition our distillery can offer you PRIVATE LABEL spirits on you request (your brand name, your Label design and choice of the quality (single, double, and triple distillations etc.))</p>
</div>
</div>

<div class="container p-5">
<div class="row">
<div class="col-sm-12">
<img src="../uploads/slika3.jpg">
</div>
</div>
</div>

<div class="container-fluid" style="text-align:center; padding:120px; background-color:#000000; color:white;">
<div class="row">
<div class="col-sm-12" style="font-size:x-large; font-family:Playfair Display;">
<p class="pgjoko">DOREVSKI GJOKO DESTILERIJA</p>
<h2 class="hgjoko">We produce natural distilled spirits</h2> 


</div>
</div>
</div>
<footer>

<div class="container-fluid" style="background-color:#000000;">
<div class="row">
<div class="col-sm-6">
<div class="gfooter">
<i class="fa fa-facebook-square" aria-hidden="true" style=></i>
<i class="fa fa-youtube-play" aria-hidden="true"></i>
</div>
</div>
<div class="col-sm-6" style="float:left;">
<div class="gfooter2">
<p>2020 DOREVSKI GJOKO. ALL RIGHT RESERVED</p>
</div>

</div>
</div>
</div>

</footer>
</body>
</html>