<!DOCTYPE html>
<html>
<head>
<title>Bootstpap</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstpap-->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
   <!--mystyle 1 css-->
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#" class="navbar-brand ml-5">
            <img src="../uploads/logo.png"  alt="logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav my-4 mx-5">
                <a href="../index.html" class="nav-item nav-link px-5">HOME</a>
                <a href="about.html" class="nav-item nav-link px-5">ABOUT</a>
                <a href="brands.html" class="nav-item nav-link px-5">BRANDS</a>
				 <a href="label.html" class="nav-item nav-link px-5">LABEL</a>
                <a href="archive.html" class="nav-item nav-link px-5">ARCHIVE</a>
                <a href="contact.html" class="nav-item nav-link px-5">CONTACT</a>
                
            </div>
           
        </div>
    </nav>

</header>
<div class="header1">
<div class="container-fluid" style="text-align:center; padding-top:250px;  padding-bottom:140px; background-color:#000000; color:white;">
<div class="row">
<div class="col-sm-12" style="font-size:x-large; font-family:Playfair Display;">
<h1>BRANDS</h1>
</div>
</div>
</div>
</div>
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" style="color:black !important;">OUR PRODUCTS</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../uploads/ouzo.jpg" alt="card image"></p>
                                    <h4 class="card-title" style="color:black !important;">OUZO PHILPPOS</h4>
                                    <p class="card-text">Ouzo Philippos – Greek Aperitif</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">OUZO PHILIPPOS</h4>
                                    <p class="card-text">Ouzo Philippos, a real descendant of the old Greek potables, made of anise and various herbs from the Greek mountains, where still Satyrs; songs and dances echoes.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../uploads/rakija.jpg" alt="card image"></p>
                                    <h4 class="card-title"style="color:black !important" >SAMOILOVA RAKIJA</h4>
                                    <p class="card-text">100% Natural Rakia from Ohrid city region.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">SAMOILOVA RAKIJA</h4>
                                    <p class="card-text">100% пририодна лозова ракија, дестилирана од селектирано високо квалитетно сортно Тиквешко грозје, печена на традиционален Охридски начин, одлежана во дабови буриња</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../uploads/mastika.jpg" alt="card image"></p>
                                    <h4 class="card-title"style="color:black !important">SAMOILOVA MASTIKA</h4>
                                    <p class="card-text">100% natural Mastika from Ohrid.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">SAMOILOVA MASTIKA</h4>
                                    <p class="card-text">SAMOILOVA MASTIKA is considered the national drink, and is most commonly consumed as an apertif, usually poured over ice and enjoyed with meze.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../uploads/tekila.jpg" alt="card image"></p>
                                    <h4 class="card-title" style="color:black !important">TEKILA MENDOZA WHITE</h4>
                                    <p class="card-text">Natural distilled spirit called tequila.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">TEKILA MENDOZA WHITE</h4>
                                    <p class="card-text">Spanish arrived North America in 1521. When the Spanish conquistadors ran out of their own brandy, they began to distill agave the produce North America’s first indigenous distilled spirit called tequila..</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../uploads/vodka.jpg" alt="card image"></p>
                                    <h4 class="card-title" style="color:black !important">VODKA ROMANOFF</h4>
                                    <p class="card-text">Crystal clear pure spirit</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">VODKA ROMANOFF</h4>
                                    <p class="card-text">Vodka Romanoff crystal clear pure spirit. As you like it.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../uploads/kolada.jpg" alt="card image"></p>
                                    <h4 class="card-title" style="color:black !important">PINA COLADA</h4>
                                    <p class="card-text">Pina Colada – Strawberry Flavour</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">PINA COLADA</h4>
                                    <p class="card-text">The popular Roberto Corondo pirate, to boost his crew’s morale, gave them a beverage or cocktail that contained coconut, pineapple and white rum. This was the famous coloda.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

<div class="container-fluid" style="text-align:center; padding:120px; background-color:#000000; color:white;">
<div class="row">
<div class="col-sm-12" style="font-size:x-large; font-family:Playfair Display;">
<p class="pgjoko">DOREVSKI GJOKO DESTILERIJA</p>
<h2 class="hgjoko">We produce natural distilled spirits</h2> 


</div>
</div>
</div>
<footer>

<div class="container-fluid" style="background-color:#000000;">
<div class="row">
<div class="col-sm-6">
<div class="gfooter">
<i class="fa fa-facebook-square" aria-hidden="true" style=></i>
<i class="fa fa-youtube-play" aria-hidden="true"></i>
</div>
</div>
<div class="col-sm-6" style="float:left;">
<div class="gfooter2">
<p>2020 DOREVSKI GJOKO. ALL RIGHT RESERVED</p>
</div>

</div>
</div>
</div>

</footer>
</body>
</html>