<!DOCTYPE html>
<html>
<head>
<title>Bootstpap</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstpap-->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
   <!--mystyle 1 css-->
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#" class="navbar-brand ml-5">
            <img src="../uploads/logo.png"  alt="logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav my-4 mx-5">
                <a href="../index.html" class="nav-item nav-link px-5">HOME</a>
                <a href="about.html" class="nav-item nav-link px-5">ABOUT</a>
                <a href="brands.html" class="nav-item nav-link px-5">BRANDS</a>
				<a href="label.html" class="nav-item nav-link px-5">LABEL</a>
                <a href="archive.html" class="nav-item nav-link px-5">ARCHIVE</a>
                <a href="contact.html" class="nav-item nav-link px-5">CONTACT</a>
                
            </div>
           
        </div>
    </nav>

</header>
<div class="header1">
<div class="container-fluid" style="text-align:center; padding-top:250px;  padding-bottom:140px; background-color:#000000; color:white;">
<div class="row">
<div class="col-sm-12" style="font-size:x-large; font-family:Playfair Display;">
<h1>PRIVATE LABEL</h1>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">

<p class="par" style="padding:130px;">Our distillery can offer you <b>PRIVATE LABEL</b> spirits on you request (your brand name, your Label design and choice of the quality (single, double, and triple distillations etc.)<br><br>
We offer you  Rakia, Mastika, Absinthe, Brandy, Tequila, Ouzo, Whiskey, Rum,Yani Raki, Vodka, Gin, Tequila, Blue Curacao, Triple Sec, Herbal liqueurs, different liqueurs in various flavors (almost 40 different names and species), cocktail syrups and other under private label.</p>
</div>
</div>
</div>

<div class="container-fluid" style="text-align:center; padding:120px; background-color:#000000; color:white;">
<div class="row">
<div class="col-sm-12" style="font-size:x-large; font-family:Playfair Display;">
<p class="pgjoko">DOREVSKI GJOKO DESTILERIJA</p>
<h2 class="hgjoko">We produce natural distilled spirits</h2> 


</div>
</div>
</div>
<footer>

<div class="container-fluid" style="background-color:#000000;">
<div class="row">
<div class="col-sm-6">
<div class="gfooter">
<i class="fa fa-facebook-square" aria-hidden="true" style=></i>
<i class="fa fa-youtube-play" aria-hidden="true"></i>
</div>
</div>
<div class="col-sm-6" style="float:left;">
<div class="gfooter2">
<p>2020 DOREVSKI GJOKO. ALL RIGHT RESERVED</p>
</div>

</div>
</div>
</div>

</footer>
</body>
</html>